@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model ProductListViewModel

@if (ViewBag.Prediccion != null)
{
    <div>
        <h1 class="text-center">Predicion  de productos para el producto</h1>
        <h2 class="text-muted mb-4 text-center">@Model.product.Nombre</h2>
    </div>

    <section style="background-color: #eee;">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-3">
                    <div class="card text-black">
                        <img src="@Model.product.Imagen" class="card-img-top" alt="@Model.product.Nombre" />
                        <div class="card-body">
                            <div class="text-center">
                              @*  <h5 class="card-title">Believing is seeing</h5>*@
                                <p class="text-muted mb-4">@Model.product.Nombre </p>
                            </div>
                            <div>                       
                            <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                <span>Precio</span><span>$@Model.product.Precio</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <table class="table">
        <tr>
            <th>ProductID </th>
            <th>Nombre </th>
            <th>Imagen </th>
            <th>Precio </th>
            <th>Score </th>
        </tr>

        @foreach (var item in Model._productsRecommendersList)
        {
            <tr>

                <td class="table-light text-center">
                    @item.CoproductRecomend.Id
                </td>

                <td>
                    @item.CoproductRecomend.Nombre
                </td>
                <td>
                    <img src="@item.CoproductRecomend.Imagen" class="w-50" />
                </td>

                <td>
                    $@item.CoproductRecomend.Precio
                </td>

                <td>
                    @item.predictionScore%
                </td>

            </tr>
        }
    </table>
}





