@model IEnumerable<TpCursada.Dominio.Product>

<div class="d-flex justify-content-center">
	<h1>Bienvenido</h1>
</div>
<div class="d-flex justify-content-center mb-4">
	<h2>Seleccione producto para el cual quiera recibir recomendaciones :D</h2>
</div>

<div class="row">
    @foreach (var item in Model){
        <div class="card pt-2 mb-4 me-4" style="width: 18rem;">

            <div class="card-body ">
                <p class="card-title">Producto: @item.Id</p>
                <h5 class="card-title">@item.Nombre</h5>
                <img class="card-img-top" src="@item.Imagen" alt="Producto" width="100px;" height="150px;">
                <p class="card-text">$ @item.Precio</p>
                <form action="/ProductRecommender/Recommend" method="post">
                        <input type="hidden" class="form-control" name="productID" id="productID" value="@item.Id">
                    <div>
                        <button type="submit" class="btn btn-primary">Recomendarme productos</button>
                    </div>
                </form>
            </div>

        </div>
    }
</div>